$position: absolute;
$animation: (car: car 1s linear infinite,
  wheel: wheel 1s linear infinite);

@function animation($animation-class) {
  @return map-get($animation, $animation-class)
}

body {
  margin: 0;
  padding: 0;

  .sky {
    background-image: url(images/sky.jpg);
    background-size: cover;
    background-position: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    /* to hide extra city and road's width so they fit in the sky's width  */
  }
}

.city {
  background-image: url(images/city.png);
  background-repeat: repeat-x;
  position: $position;
  z-index: 1;
  width: 500%;
  height: 310px;
  bottom: 200px;
  left: 0;
  right: 0;
  animation: city 20s linear infinite;
}

@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}

.road {
  background-image: url(images/road.jpg);
  background-repeat: repeat-x;
  position: $position;
  z-index: 2;
  width: 500%;
  height: 270px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: road 5s linear infinite;
}

@keyframes road {
  100% {
    transform: translateX(-2500px);
  }
}

.car {
  position: $position;
  z-index: 2;
  bottom: 100px;
  left: 38%;
  width: 500px;
}

.car img {
  width: 100%;
  animation: animation(car);
}

@keyframes car {
  100% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(1px);
  }

  0% {
    transform: translateY(-1px);
  }
}

.wheel {
  position: $position;
  z-index: 2;
  bottom: 200px;
  left: 38%;
}

.wheel img {
  width: 89px;
  height: 89px;
  animation: animation(wheel);
}

.front-wheel {
  left: 350px;
  position: $position;
}

.back-wheel {
  left: 45px;
  position: $position;
}

@keyframes wheel {
  100% {
    transform: rotate(400deg);
  }
}

.medium-car {
  position: $position;
  z-index: 2;
  bottom: 10px;
  left: 5%;
  width: 300px;
}

.medium-car img {
  width: 100%;
  animation: animation(car);
}

.medium-wheel {
  position: $position;
  z-index: 2;
  bottom: 71px;
  left: 5%;
}

.medium-wheel img {
  width: 60px;
  height: 60px;
  animation: animation(wheel);
}

.medium-front-wheel {
  left: 209px;
  position: $position;
}

.medium-back-wheel {
  left: 24px;
  position: $position;
}

.small-car {
  position: $position;
  z-index: 2;
  bottom: 180px;
  left: 85%;
  width: 250px;
}

.small-car img {
  width: 100%;
  animation: animation(car);
}

.small-wheel {
  position: $position;
  z-index: 2;
  bottom: 233px;
  left: 85%;
}

.small-wheel img {
  width: 42px;
  height: 42px;
  animation: animation(wheel);
}

.small-front-wheel {
  left: 177px;
  position: $position;
}

.small-back-wheel {
  left: 24px;
  position: $position;
}